IF EXISTS (SELECT NAME FROM SYSDATABASES WHERE NAME = 'DB_TB_EXCEDENTES')

DROP DATABASE DB_TB_EXCEDENTES

/****** Object:  Database [DB_TB_EXCEDENTES]    Script Date: 21/05/2012 11:27:57 ******/
CREATE DATABASE [DB_TB_EXCEDENTES] ON  PRIMARY 
( NAME = N'DB_TB_EXCEDENTES', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\DB_TB_EXCEDENTES.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DB_TB_EXCEDENTES_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\DB_TB_EXCEDENTES_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
EXEC dbo.sp_dbcmptlevel @dbname=N'DB_TB_EXCEDENTES', @new_cmptlevel=90
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_TB_EXCEDENTES].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
