IF EXISTS (SELECT NAME FROM SYSDATABASES WHERE NAME = 'DB_TB_VARQUIVO')

DROP DATABASE DB_TB_VARQUIVO

/****** Object:  Database [DB_TB_VARQUIVO]    Script Date: 21/05/2012 11:15:29 ******/
CREATE DATABASE [DB_TB_VARQUIVO] ON  PRIMARY 
( NAME = N'DB_TABELAS_EXCEDENTES', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\DB_TABELAS_EXCEDENTES.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DB_TABELAS_EXCEDENTES_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\DB_TABELAS_EXCEDENTES_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
EXEC dbo.sp_dbcmptlevel @dbname=N'DB_TB_VARQUIVO', @new_cmptlevel=90
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_TB_VARQUIVO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_TB_VARQUIVO]
GO
/****** Object:  Table [dbo].[VARQUIVO]    Script Date: 21/05/2012 11:15:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VARQUIVO](
	[NOME] [nvarchar](255) NULL
) ON [PRIMARY]

GO
INSERT [dbo].[VARQUIVO] ([NOME]) VALUES (N'ACESSO')
INSERT [dbo].[VARQUIVO] ([NOME]) VALUES (N'AUTORIZA')
INSERT [dbo].[VARQUIVO] ([NOME]) VALUES (N'BLOQUEIO')
GO
USE [master]
GO
