USE [luiz_uberti]
GO
/****** Object:  StoredProcedure [dbo].[sp_script_luiz_teste]    Script Date: 05/18/2012 17:33:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER procedure [dbo].[sp_script_luiz_teste] 
AS
BEGIN
--COMECO DECLARANDO AS VARIAVEIS TEMPORARIAS
DECLARE @ARQUIVO   VARCHAR(100)
DECLARE @LINHA     INT
DECLARE @AGENCIA   VARCHAR(4)
DECLARE @CCORRENTE VARCHAR(7)
DECLARE @TPCOB     CHAR(1)
DECLARE @DTLOTE    VARCHAR(8)
DECLARE @HRLOTE    VARCHAR(4)
DECLARE @IDE        VARCHAR (6)
DECLARE @NUSEQ      VARCHAR (3) 
-- COMEÇO DA POPULAÇÃO DAS VARIAVEIS
SET @LINHA = (SELECT SUBSTRING(LINHA,	32	,	5	)FROM  CA1352HW WHERE SUBSTRING(LINHA,1,1)= 9)
SET @AGENCIA = (SELECT SUBSTRING(LINHA,	19	,	4	)FROM  CA1352HW WHERE SUBSTRING(LINHA,1,1)= 9)
SET @CCORRENTE = (SELECT SUBSTRING(LINHA,	24	,	7	)FROM  CA1352HW WHERE SUBSTRING(LINHA,1,1)= 9)
SET @DTLOTE = (SELECT SUBSTRING(LINHA,	7	,	8	)FROM  CA1352HW WHERE SUBSTRING(LINHA,1,1)= 9)
SET @HRLOTE = (SELECT SUBSTRING(LINHA,	15	,	4	)FROM  CA1352HW WHERE SUBSTRING(LINHA,1,1)= 9)
SET @NUSEQ = (SELECT SUBSTRING(LINHA,	32	,	2	)FROM  CA1352HW WHERE SUBSTRING(LINHA,1,1)= 0)
SET @IDE = (SELECT SUBSTRING(LINHA,	35	,	4	)FROM  CA1352HW WHERE SUBSTRING(LINHA,1,1)= 0)
SET @TPCOB = (SELECT SUBSTRING(LINHA,	39	,	1	)FROM  CA1352HW WHERE SUBSTRING(LINHA,1,1)= 0)

INSERT INTO LAY_ITAU_CC_RG01(
 TIPO_REGISTRO
,CODIGO_ESCRITORIO
,NUMERO_LOTE
,STATUS_REGISTRO
,CODIGO_OPERACAO
,NUMERO_CONTRATO
,TIPO_CONTRATO
,AGENCIA_PLATAFORMA
,REGIAO_PLATAFORMA
,NUM_RECEBIMENTO
,DATA_CONTRATACAO
,DATA_VENCIMENTO
,DATA_ATRASO
,VALOR_CONTRATO
,VALOR_VENCIDO
,QUANT_PARCELAS
,QUANT_PARC_ATRASO
,VL_CONTRATO_VENC
,EMPRESA
,DT_ENVIO_CONTRATO
,DT_RET_CONTRATO
,CD_DESC_ANTERIOR
,DESC_ESCRITORIO_1
,DESC_ESCRITORIO_2
,TIPO_DEVEDOR
,CGC_CNPJ
,NOME_DEVEDOR
,LOGRADOURO_RES
,NUMERO_RES
,COMPLEMENTO_RES
,BAIRRO_RES
,CIDADE_RES
,ESTADO_RES
,CEP_RES
,DDD_RES
,TELEFONE_RES
,RAMAL_RES
,LOGRADOURO_COM
,NUMERO_COM
,COMPLEMENTO_COM
,BAIRRO_COM
,CIDADE_COM
,ESTADO_COM
,CEP_COM
,DDD_COM
,TELEFONE_COM
,RAMAL_COM
,TIPO_AVALISTA_1
,CGC_CPF_AVALISTA_1
,NOME_AVALISTA_1
,LOGRADOURO_AVALISTA_1
,NUMERO_AVALISTA_1
,COMPLEMENTO_AVALISTA_1
,BAIRRO_AVALISTA_1
,CIDADE_AVALISTA_1
,ESTADO_AVALISTA_1
,CEP_AVALISTA_1
,DDD_AVALISTA_1
,TELEFONE_AVALISTA_1
,RAMAL_AVALISTA_1
,TIPO_AVALISTA_2
,CGC_CPF_AVALISTA_2
,NOME_AVALISTA_2
,LOGRADOURO_AVALISTA_2
,NUMERO_AVALISTA_2
,COMPLEMENTO_AVALISTA_2
,BAIRRO_AVALISTA_2
,CIDADE_AVALISTA_2
,ESTADO_AVALISTA_2
,CEP_AVALISTA_2
,DDD_AVALISTA_2
,TELEFONE_AVALISTA_2
,RAMAL_AVALISTA_2
,CODIGO_FILIAL
,VALOR_ENCARGOS
,NUMERO_PARCELA
,PORTE_EMPRESA
,CODIGO_ESTRATEGIA
,TARIFA_COBRANCA
,NUMERO_COBRANCA
,CODIGO_SEGURADOR
,CODIGO_OPER_FINAUST
,NR_CONTRATO_FINAUST
,COD_SEGM
,VL_DESCONTO_VISTA
,VL_CONGELADO_CAMP
,LOCAL_COBRANCA
,EMP_CONG_ITAU
,VL_JUROS_MORA
,VL_MULTA_PARCELA
,PLANO
,TX_JUROS_NOMINAL
,TX_JUROS_EFETIVA
,RESPONSABILIDADE_SALDO
,PRAZO_FINAN
,ESTRATEGIA_PROC_JURIDICO
,COD_CAMPANHA
,PERCENTUAL_DEC_VISTA
,QTDE_PARC_FAIXA_INICIAL
,QTDE_PARC_FAIXA_FINAL
,PERC_MAX_DESC
,PERC_MIM_ENTRADA
,QTDE_PARC_FAIXA_INI_1
,QTDE_PARC_FAIXA_FIM_1
,PERC_MAX_DESCONTO_1
,PERC_MIN_ENTRADA_1
,QTDE_PARC_FX_INI_2
,QTDE_PARC_FX_FIM_2
,PERC_MAX_DESCONTO_2
,PERC_MIN_ENTRADA_2
,QTDE_PARC_FX_INI_3
,QTDE_PARC_FX_FIM_3
,PER_MAX_DECONTO_3
,PER_MIN_ENTRADA_3
,QTDE_FAIXA_INICIAL_3
,QTDE_FAIXA_FINAL_3
,PERC_MAX_DESCONTO_4
,PERC_MIN_ENTRADA_4
,SUSLIM
,IDSTG1
,DTATICOB
,NRCARTAO
,CDCTACDN
,CARTEIRA
,VL_ACORDO
,CDOCOBRA
,CATEGV
,ESPACO_1
,LINHA
,AGENCIA
,CCORRENTE
,DTLOTE
,HRLOTE
,NUSEQ
,IDE
,TPCOB)
	SELECT	
	SUBSTRING(LINHA,	1	,	1	)
	,SUBSTRING(LINHA,	2	,	5	)
	,SUBSTRING(LINHA,	7	,	12	)
	,SUBSTRING(LINHA,	19	,	2	)
	,SUBSTRING(LINHA,	21	,	5	)
	,SUBSTRING(LINHA,	26	,	15	)
	,SUBSTRING(LINHA,	41	,	30	)
	,SUBSTRING(LINHA,	71	,	4	)
	,SUBSTRING(LINHA,	75	,	2	)
	,SUBSTRING(LINHA,	77	,	12	)
	,SUBSTRING(LINHA,	89	,	8	)
	,SUBSTRING(LINHA,	97	,	8	)
	,SUBSTRING(LINHA,	105	,	8	)
	,SUBSTRING(LINHA,	113	,	15	)
	,SUBSTRING(LINHA,	128	,	15	)
	,SUBSTRING(LINHA,	143	,	2	)
	,SUBSTRING(LINHA,	145	,	2	)
	,SUBSTRING(LINHA,	147	,	15	)
	,SUBSTRING(LINHA,	162	,	2	)
	,SUBSTRING(LINHA,	164	,	8	)
	,SUBSTRING(LINHA,	172	,	8	)
	,SUBSTRING(LINHA,	180	,	4	)
	,SUBSTRING(LINHA,	184	,	68	)
	,SUBSTRING(LINHA,	252	,	68	)
	,SUBSTRING(LINHA,	320	,	1	)
	,SUBSTRING(LINHA,	321	,	14	)
	,SUBSTRING(LINHA,	335	,	30	)
	,SUBSTRING(LINHA,	365	,	30	)
	,SUBSTRING(LINHA,	395	,	5	)
	,SUBSTRING(LINHA,	400	,	15	)
	,SUBSTRING(LINHA,	415	,	15	)
	,SUBSTRING(LINHA,	430	,	20	)
	,SUBSTRING(LINHA,	450	,	2	)
	,SUBSTRING(LINHA,	452	,	8	)
	,SUBSTRING(LINHA,	460	,	4	)
	,SUBSTRING(LINHA,	464	,	8	)
	,SUBSTRING(LINHA,	472	,	4	)
	,SUBSTRING(LINHA,	476	,	30	)
	,SUBSTRING(LINHA,	506	,	5	)
	,SUBSTRING(LINHA,	511	,	15	)
	,SUBSTRING(LINHA,	526	,	15	)
	,SUBSTRING(LINHA,	541	,	20	)
	,SUBSTRING(LINHA,	561	,	2	)
	,SUBSTRING(LINHA,	563	,	8	)
	,SUBSTRING(LINHA,	571	,	4	)
	,SUBSTRING(LINHA,	575	,	8	)
	,SUBSTRING(LINHA,	583	,	4	)
	,SUBSTRING(LINHA,	587	,	1	)
	,SUBSTRING(LINHA,	588	,	14	)
	,SUBSTRING(LINHA,	602	,	30	)
	,SUBSTRING(LINHA,	632	,	30	)
	,SUBSTRING(LINHA,	662	,	5	)
	,SUBSTRING(LINHA,	667	,	15	)
	,SUBSTRING(LINHA,	682	,	15	)
	,SUBSTRING(LINHA,	697	,	20	)
	,SUBSTRING(LINHA,	717	,	2	)
	,SUBSTRING(LINHA,	719	,	8	)
	,SUBSTRING(LINHA,	727	,	4	)
	,SUBSTRING(LINHA,	731	,	8	)
	,SUBSTRING(LINHA,	739	,	4	)
	,SUBSTRING(LINHA,	743	,	1	)
	,SUBSTRING(LINHA,	744	,	14	)
	,SUBSTRING(LINHA,	758	,	30	)
	,SUBSTRING(LINHA,	788	,	30	)
	,SUBSTRING(LINHA,	818	,	5	)
	,SUBSTRING(LINHA,	823	,	15	)
	,SUBSTRING(LINHA,	838	,	15	)
	,SUBSTRING(LINHA,	853	,	20	)
	,SUBSTRING(LINHA,	873	,	2	)
	,SUBSTRING(LINHA,	875	,	8	)
	,SUBSTRING(LINHA,	883	,	4	)
	,SUBSTRING(LINHA,	887	,	8	)
	,SUBSTRING(LINHA,	895	,	4	)
	,SUBSTRING(LINHA,	899	,	5	)
	,SUBSTRING(LINHA,	904	,	15	)
	,SUBSTRING(LINHA,	919	,	3	)
	,SUBSTRING(LINHA,	922	,	3	)
	,SUBSTRING(LINHA,	925	,	2	)
	,SUBSTRING(LINHA,	927	,	7	)
	,SUBSTRING(LINHA,	934	,	2	)
	,SUBSTRING(LINHA,	936	,	3	)
	,SUBSTRING(LINHA,	939	,	4	)
	,SUBSTRING(LINHA,	943	,	12	)
	,SUBSTRING(LINHA,	955	,	2	)
	,SUBSTRING(LINHA,	957	,	15	)
	,SUBSTRING(LINHA,	972	,	15	)
	,SUBSTRING(LINHA,	987	,	2	)
	,SUBSTRING(LINHA,	989	,	2	)
	,SUBSTRING(LINHA,	991	,	15	)
	,SUBSTRING(LINHA,	1006	,	15	)
	,SUBSTRING(LINHA,	1021	,	3	)
	,SUBSTRING(LINHA,	1024	,	5	)
	,SUBSTRING(LINHA,	1029	,	5	)
	,SUBSTRING(LINHA,	1034	,	1	)
	,SUBSTRING(LINHA,	1035	,	3	)
	,SUBSTRING(LINHA,	1038	,	3	)
	,SUBSTRING(LINHA,	1041	,	5	)
	,SUBSTRING(LINHA,	1046	,	5	)
	,SUBSTRING(LINHA,	1051	,	3	)
	,SUBSTRING(LINHA,	1054	,	3	)
	,SUBSTRING(LINHA,	1057	,	5	)
	,SUBSTRING(LINHA,	1062	,	5	)
	,SUBSTRING(LINHA,	1067	,	3	)
	,SUBSTRING(LINHA,	1070	,	3	)
	,SUBSTRING(LINHA,	1073	,	5	)
	,SUBSTRING(LINHA,	1078	,	5	)
	,SUBSTRING(LINHA,	1083	,	3	)
	,SUBSTRING(LINHA,	1086	,	3	)
	,SUBSTRING(LINHA,	1089	,	5	)
	,SUBSTRING(LINHA,	1094	,	5	)
	,SUBSTRING(LINHA,	1099	,	3	)
	,SUBSTRING(LINHA,	1102	,	3	)
	,SUBSTRING(LINHA,	1105	,	5	)
	,SUBSTRING(LINHA,	1110	,	5	)
	,SUBSTRING(LINHA,	1115	,	3	)
	,SUBSTRING(LINHA,	1118	,	3	)
	,SUBSTRING(LINHA,	1121	,	5	)
	,SUBSTRING(LINHA,	1126	,	5	)
	,SUBSTRING(LINHA,	1131	,	1	)
	,SUBSTRING(LINHA,	1132	,	5	)
	,SUBSTRING(LINHA,	1137	,	10	)
	,SUBSTRING(LINHA,	1147	,	16	)
	,SUBSTRING(LINHA,	1163	,	12	)
	,SUBSTRING(LINHA,	1175	,	3	)
	,SUBSTRING(LINHA,	1178	,	15	)
	,SUBSTRING(LINHA,	1193	,	5	)
	,SUBSTRING(LINHA,	1198	,	2	)
	,SUBSTRING(LINHA,	1200	,	1	)
	,@LINHA
	,@AGENCIA
	,@CCORRENTE
	,@DTLOTE
	,@HRLOTE
	,@NUSEQ
	,@IDE
	,@TPCOB
FROM CA1352HW WHERE SUBSTRING(LINHA,1,1)= 1
	

	
END



select * from LAY_ITAU_CC_RG01


